.cgs_item_slider {
    padding: 0 5px;
    clear: both;

}

.cgs_thumb_image {
    position: relative;
    width: 100%;
    float: left;
}
.cgs_item_slider .cgs_title_video {
    padding: 10px 0 0;
    width: 100%;
    float: left;
}

.cgs_nav_slider {
    height: 28px;
    width: 28px;
    background: url(../images/icon_total_01.png) no-repeat;
    position: absolute;
    z-index: 9;
    top: 21%;
}

.next_slider {
    right: 1%;
    background-position: -27px -229px;
}
.prev_slider {
    left: 1%;
    background-position: -1px -229px;
}

.prev_slider:hover {
background-position:0 -201px;
}

.next_slider:hover {
background-position:-28px -201px;
}

.cgs_gallery_container {
	width:100%;
	float:left;
	position:relative;
	padding:5px 0 0;
	
}

.cgs_gallery_container li {
width:32%;
margin:0 1% 0 0;
}


.cgs_gallery_container li:last-child {
border:none;
margin:0;
padding:0;
}

.cgs_gallery_container li .cgs_thumb_image {
width:40%;
float:left;
margin:0 10px 0 0;
}

.cgs_gallery_container li .cgs_title_video {
float:none;
}

.cgs_gallery_container li .cgs_title_video a {
font:400 18px arial;
}